[submodule "themes/cocoa"]
	path = themes/cocoa
	url = https://github.com/nishanths/cocoa-hugo-theme.git
[submodule "public"]
	path = public
	url = git@github.com:thesofakillers/thesofakillers.github.io.git
	branch = master
[submodule "cocoa-hugo-theme"]
	path = themes/cocoa
	url = https://github.com/nishanths/cocoa-hugo-theme.git
