p {
  font-size: 1.125rem;
  margin-block-start: 1em;
  margin-block-end: 0;
  line-height: 1.2;
}
content {
  line-height: 1.2;
}

li {
  font-size: 1.125rem;
  margin-block-start: 0.5em;
  margin-block-end: 0;
}
ul.blog-posts li{
  margin-block-start: 0;
  margin-block-end: 0;
}

nav {
  margin-block-end: 1rem;
}

.tags {
  margin-block-start: 1rem;
}

ul,
ol {
  margin-block-start: 1em;
  margin-block-end: 0;
}

h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.25;
}

body {
  font-family: serif;
  max-width: 650px;
}

/* Default link styles (for navigation, etc) */
a,
a:visited {
  color: black !important;
  text-decoration: none;
}

/* Links within paragraphs or main content */
content a,
content a:visited {
  color: #af0000 !important; /* Dark red for light mode */
}

blockquote.twitter-tweet {
  border-left: 4px solid #af0000 !important;
}

blockquote p {
  font-size: 0.9rem;
}

a:hover {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  /* Default link styles in dark mode */
  a,
  a:visited {
    color: white !important;
  }

  /* Links within paragraphs or main content in dark mode */
  content a,
  content a:visited {
    color: #ff6b6b !important; /* Lighter red for dark mode */
  }

  blockquote.twitter-tweet {
    border-left: 4px solid #ff6b6b !important;
    color: #aaaaaa;
  }
}
